<div id="form">
  <h2>Register</h2>
  <form action="/auth/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="ironhacker" id="username" />

    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="rockstar@ironhack.com"
      id="email"
    />

    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="********"
      id="password"
    />

    <button type="submit">Sign Up</button>
  </form>
  {{#if msg}}
    <p>{{msg}}</p>
  {{/if}}
</div>